*
{
    box-sizing: border-box;
}
html
{
    height: 100%;
}
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
nav
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1rem;

    border-bottom: 1px solid #555;
    background-color: #fff;
}
nav a
{
    display: inline-block;

    padding: 0 1rem;

    cursor: pointer;
    text-transform: uppercase;
}
/* background-color: #e6ccff;}*/

/*header{ margin: 60px auto;}*/

a { text-decoration: none; color: #999; }

a:hover { text-decoration: underline; }

p, ul { font-size: 1.2em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv education, .cv p { font-size: 1.2em; }
.cv skills, .cv p , .cv ul li { margin: 20px auto 40px; font-size: 1.2em; line-height: 1.2em; list-style: none;}
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }


/*SLIDE SHOW*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* partial containers */
.page-container
{
    //position: relative;

    width: 100%;
    height: 100%;
    margin-top: 3rem;
    /*transform*/

    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.page-view
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    /*backface-visibility*/

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
    /*perspective*/
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
         -o-perspective: 1000;
            perspective: 1000;
}
.pages
{
    height: inherit;
    padding: 2rem;
}
#Home
{
    background-color: #0ac2d2;
}
#About
{
    background-color: #60d7a9;
}
#CV
{
    background-color: #fdc162;
}
#art_portfolio
{
    background-color: #fd6a62;
}
/* Transitions */

/* Default Enter/Leave */
.ng-enter,
.ng-leave
{
    /*transition-timing-function*/
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    /*transition-duration*/
    -webkit-transition-duration: 250ms;
       -moz-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    /*transition-property*/
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
}
.ng-enter
{
    opacity: 0;
}
.ng-enter.ng-enter-active
{
    opacity: 1;
}
.ng-leave
{
    opacity: 1;
}
.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* crossFade */
.crossFade.ng-enter
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
       -moz-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;

    opacity: 0;
}
.crossFade.ng-enter.ng-enter-active
{
    opacity: 1;
}
.crossFade.ng-leave
{
    /*transition-duration*/
    -webkit-transition-duration: 100ms;
       -moz-transition-duration: 100ms;
         -o-transition-duration: 100ms;
            transition-duration: 100ms;

    opacity: 1;
}
.crossFade.ng-leave.ng-leave-active
{
    opacity: 0;
}
/* slideRight */
.slideRight
{
    opacity: 1 !important;
}
.slideRight.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
       -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
         -o-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
.slideRight.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideRight.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideRight.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
       -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
         -o-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}
/* slideLeft */
.slideLeft
{
    opacity: 1 !important;
}
.slideLeft.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(100%,0,0);
       -moz-transform: translate3d(100%,0,0);
        -ms-transform: translate3d(100%,0,0);
         -o-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
}
.slideLeft.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideLeft.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(-100%,0,0);
       -moz-transform: translate3d(-100%,0,0);
        -ms-transform: translate3d(-100%,0,0);
         -o-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
}
/* slideDown */

.slideDown.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
       -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
         -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
}
.slideDown.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideDown.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideDown.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
       -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
         -o-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}
/* slideUp */
.slideUp
{
    opacity: 1 !important;
}
.slideUp.ng-enter
{
    /*transition-property*/
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
    /*transform*/
    -webkit-transform: translate3d(0,100%,0);
       -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
         -o-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}
.slideUp.ng-enter.ng-enter-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideUp.ng-leave
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
.slideUp.ng-leave.ng-leave-active
{
    /*transition-property*/
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    /*transform*/
    -webkit-transform: translate3d(0,-100%,0);
       -moz-transform: translate3d(0,-100%,0);
        -ms-transform: translate3d(0,-100%,0);
         -o-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
}
