<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/js/slideshow.js"></script>
			
			<!-- FAVICON, WHY WON'T YOU WORK -->
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/art_portfolio">Art Portfolio</a></li>
	    		</ul>
			</nav>
			<h1> Alexis Pesicka</h1>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alexis.pesicka@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pesickaa">github.com/pesickaa</a></li>
				</ul>
			</footer>
		</body>
